# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml